@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

html, body{
    min-height: 100%;
}

h1 span:first-child{
    font-weight: bolder;
    font-size: 30pt;
}

a{
    color: white;
    text-decoration: none;
}